{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container d-flex gap-2 justify-content-center align-items-center " style="height: 100vh;">
    <div class="row ">
        <p class="fs-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus voluptate, ipsum
            suscipit quis
            maxime commodi eligendi, numquam voluptates facilis nostrum magnam in! Vel quaerat id, vitae sunt obcaecati
            minus dolor nobis, ab laboriosam eum accusantium magni consequuntur quasi in. Consequuntur iure repudiandae,
            porro quia sed sint vitae itaque tempora maiores cum vero voluptates quasi harum aliquid obcaecati commodi
            dolor rerum.</p>
        <div>

            <button class="btn btn-outline-primary ">GET START</button>
        </div>
    </div>
    <div class="row ">
        <img src="{% static 'img/car-1.jpg' %}" style="
        width: 240rem; border-radius: 2rem;
    ">
    </div>
</div>
<div class="p-2" style="min-height: 100vh;">
    <h5 class="text-center">All Categories</h5>
    <div class=" p-2 d-flex justify-content-center gap-3 ">
        {% for cat in category %}



        <a href="{% url 'category_wise_post' cat.slug %}" class="btn btn-primary">{{cat.name}}</a>


        {% endfor %}
    </div>
    <h1 class="text-center">All Product</h1>
    <div class="container d-flex flex-wrap gap-2">
        {% for i in data%}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Name: {{i.name}}</h5>
                <h5 class="card-title">Price: ${{i.price}}</h5>
                <h5 class="card-title">Brand: {{i.brand}}</h5>
                <a href="{% url 'carDetails' i.id %}" class="btn btn-primary">Dtaile</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}